In [2]:
# num1=float(input("Enter first number: "))
# num2=float(input("Enter the second number: "))
# operation=input("Enter operation (+,-,*,/): ")

# if operation=='+':
#     result=num1+num2
# elif operation=='-':
#     result=num1-num2
# elif operation=='*':
#     result=num1*num2
# elif operation=='/':
#     if num2 != 0:
#         result=num1/num2
#     else:
#         result="Error! Division by zero"
# else:
#     result="Invalid Operation."

# print("Result", result)

In [3]:
for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
fruits=["apple", "banana", "cherry", "kiwi", "guava"]

In [5]:
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'kiwi', 'guava', 'orange']

In [6]:
fruits.insert(1, "banana")
print(fruits)

['apple', 'banana', 'banana', 'cherry', 'kiwi', 'guava', 'orange']

In [7]:
fruits.remove("banana")
print(fruits)

['apple', 'banana', 'cherry', 'kiwi', 'guava', 'orange']

In [8]:
popped_fruits=fruits.pop()
print(popped_fruits)
print(fruits)

orange
['apple', 'banana', 'cherry', 'kiwi', 'guava']

In [9]:
index=fruits.index("cherry")
print(index)

2

In [10]:
fruits.insert(2, "banana")
print(fruits)

['apple', 'banana', 'banana', 'cherry', 'kiwi', 'guava']

In [11]:
print(fruits.count("banana"))

2

In [12]:
fruits.sort()
fruits

['apple', 'banana', 'banana', 'cherry', 'guava', 'kiwi']

In [13]:
fruits.reverse()
fruits

['kiwi', 'guava', 'cherry', 'banana', 'banana', 'apple']

In [15]:
fruits.clear()
fruits

[]

In [18]:
# Slicing list
numbers=[1,2,3,4,5,6,7,8,9,10]
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-1]) #All elements with step size -1

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [20]:
lst=[]
for x in range(10):
    lst.append(x**2)

print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [22]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

List Comprehension

Basics Syntax [expression for item in iterable]
with conditional logic [expression for item in iterable if condition]

In [27]:
lst1=[1,2,3,4]
lst2=['a','b', 'c', 'd']

pair=[[i,j] for i in lst1 for j in lst2]
print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [28]:
# List Comprehension with function calls
words=["hello", "world", "python", "list", "comprehension"]
lengths=[len(word) for word in words]
print(lengths)

[5, 5, 6, 4, 13]

## Tuples

Tuples are ordered collections of items that are immutable

In [29]:
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [41]:
# lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [42]:
numbers=tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [52]:
# print(list((1,2,3,4,5,6)))

In [48]:
mixed_tuple=(1, "Hello World", 3.14, True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [51]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

In [53]:
concatenation_tuple=numbers+mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [55]:
mixed_tuple*3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [ ]:
numbers*3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [58]:
# Tuples are immutables

lst=[1,2,3,4,5]
print(lst)

lst[1]="Krish"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Krish', 3, 4, 5]

In [60]:
# numbers[1]="Krish"

In [61]:
print(numbers.count(1))
print(numbers.index(3))

1
2

In [62]:
# Packing and unpacking tupl

# Packing
packed_tuple=1, "Hello", 3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [63]:
# Unpacking a tuple
a,b,c=packed_tuple

print(a)
print(b)
print(c)

1
Hello
3.14

In [64]:
# Unpacking with *
numbers=(1,2,3,4,5,6)
first, *middle, last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [65]:
# Nested tuple
# Nested list
lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
lst[0][0:3]

[1, 2, 3]

In [67]:
lst=[[1,2,3,4],[6,7,8,9],(1,"Hello",3.14, "c")]
lst[2][0:3]

(1, 'Hello', 3.14)

In [68]:
nested_tuple=((1,2,3), ("a","b","c"),(True, False))

# Access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [69]:
# Iterating over nested tuples
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item, end=" ")
    print()

1 2 3
a b c
True False

### Sets: 
- Built-in data type in Python used to store collections of unique items.
- Unordered
- Does not allow duplicate elements

Applications:
- Useful for membership tests
- eliminating duplicate entries
- performing mathematical set operations like union, intersection, difference and symmetric difference

In [96]:
my_set={1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [91]:
my_empty_set=set()
print(my_empty_set)

set()

In [92]:
my_empty_set=set([1,2,3,4,5,6])
print(my_empty_set)

{1, 2, 3, 4, 5, 6}

In [97]:
my_set.add(7)
print(my_set)
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 7}
{1, 2, 3, 4, 5, 7}

In [98]:
# Remove the elements from a list
my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 7}

my_set.remove(10)

10 is not present in the my_set so it'll give an error, to make sure no error is returned, use `discard()`

In [100]:
my_set.discard(10)
print(my_set)

{1, 2, 4, 5, 7}

In [101]:
# pop method
removed_element=my_set.pop()
print(removed_element)
print(my_set)

1
{2, 4, 5, 7}

In [102]:
# Clear all the elements
my_set.clear()
print(my_set)

set()

In [103]:
# Set membership test
my_set={1,2,3,4,5}
print(3 in my_set)
print(10 in my_set)

True
False

In [107]:
## Mathematical Operations
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

## Union
union_set=set1.union(set2)
print(union_set)

## Intersection
intersection_set=set1.intersection(set2)
print(intersection_set)

## Finding intersection and updating a particular set
set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}

In [108]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

# Difference
print(set1.difference(set2))

{1, 2, 3}

In [109]:
set2.difference(set1)

{7, 8, 9}

In [110]:
# Symmetric Difference
set1.symmetric_difference(set2)

{1, 2, 3, 7, 8, 9}

In [112]:
## Sets Methods
set1={1,2,3}
set2={3,4,5}

## is subset
print(set1.issubset(set2))

print(set1.issuperset(set2))

False
False

In [113]:
lst=[1,2,2,3,4,4,5]
set(lst)

{1, 2, 3, 4, 5}

In [114]:
## Counting unique words in text

text="In this tutorial we are discussing about sets"
words=text.split()

## Convert list of words to set to get unique words
unique_words=set(words)
print(unique_words)
print(len(unique_words))

{'discussing', 'are', 'about', 'sets', 'this', 'tutorial', 'we', 'In'}
8

## Dictionaries

In [115]:
# Creating dictionaries
empty_dict={}
print(type(empty_dict))

<class 'dict'>

In [116]:
empty_dict=dict()
empty_dict

{}

In [117]:
student={"name":"Krish", "age":32, "grade":24}
print(student)
print(type(student))

{'name': 'Krish', 'age': 32, 'grade': 24}
<class 'dict'>

In [119]:
# Error
student={"name":"Krish", "age":32, "grade":'A'}
print(student)

{'name': 'Krish', 'age': 32, 'grade': 'A'}

In [121]:
## Accessing Dictionary elements
print(student['grade'])
print(student['age'])

## Accessing using get() method
print(student.get('grade'))
print(student.get('last_name'))
print(student.get('last_name', "Not Available"))

A
32
A
None
Not Available

In [122]:
# Modifying dictionary elements
# Dictionary elements are mutable, so you can add, update or delete elements
print(student)

{'name': 'Krish', 'age': 32, 'grade': 'A'}

In [124]:
student["age"]=33 ## Update value for the key
print(student)
student["address"]="India" ## Added a new key and value
print(student)

{'name': 'Krish', 'age': 33, 'grade': 'A', 'address': 'India'}
{'name': 'Krish', 'age': 33, 'grade': 'A', 'address': 'India'}

In [125]:
del student['grade'] ## delete key and value pair
print(student)

{'name': 'Krish', 'age': 33, 'address': 'India'}

In [126]:
# Dictionary methods
keys=student.keys() ## get all the keys
print(keys)

values=student.values() ## get all values
print(values)

items=student.items() ## get all key value pairs
print(items)

dict_keys(['name', 'age', 'address'])
dict_values(['Krish', 33, 'India'])
dict_items([('name', 'Krish'), ('age', 33), ('address', 'India')])

In [127]:
# Shallow copy
student_copy=student
print(student)
print(student_copy)

{'name': 'Krish', 'age': 33, 'address': 'India'}
{'name': 'Krish', 'age': 33, 'address': 'India'}

In [128]:
student["name"]="Krish2"
print(student)
print(student_copy)

{'name': 'Krish2', 'age': 33, 'address': 'India'}
{'name': 'Krish2', 'age': 33, 'address': 'India'}

In [129]:
student_copy1=student.copy() ## Shallow copy
print(student_copy1)
print(student)

{'name': 'Krish2', 'age': 33, 'address': 'India'}
{'name': 'Krish2', 'age': 33, 'address': 'India'}

In [130]:
student["name"]="Krish3"
print(student_copy1)
print(student)

{'name': 'Krish2', 'age': 33, 'address': 'India'}
{'name': 'Krish3', 'age': 33, 'address': 'India'}

In [131]:
# Iterating over keys
for keys in student.keys():
    print(keys)

name
age
address

In [132]:
# Iterate over values
for value in student.values():
    print(value)

Krish3
33
India

In [133]:
# Iterate over key valye pairs
for key, value in student.items():
    print(f"{key}:{value}")

name:Krish3
age:33
address:India

In [134]:
## Nested Dictionaries
students={
    "student1":{"name":"Krish", "age":32},
    "student2":{"name":"Peter", "age":35}
}
print(students)

{'student1': {'name': 'Krish', 'age': 32}, 'student2': {'name': 'Peter', 'age': 35}}

In [136]:
# Access nested dictionaries elements
print(students["student2"]["name"])
print(students["student2"]["age"])

Peter
35

In [137]:
students.items()

dict_items([('student1', {'name': 'Krish', 'age': 32}), ('student2', {'name': 'Peter', 'age': 35})])

In [139]:
# Iterating over dictionaries over nested dictionaries
for student_id, student_info in students.items():
    print(f"{student_id}:{student_info}")
    for key, value in student_info.items():
        print(f"{key}:{value}")

student1:{'name': 'Krish', 'age': 32}
name:Krish
age:32
student2:{'name': 'Peter', 'age': 35}
name:Peter
age:35

In [140]:
## Dictionary Comprehension
squares={x:x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [141]:
# Condition dictionary comprehension
evens={x:x**2 for x in range(10) if x%2==0}
print(evens)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [142]:
numbers=[1,2,2,3,3,3,4,4,4,4]
frequency={}

for number in numbers:
    if number in frequency:
        frequency[number]+=1
    else:
        frequency[number]=1
print(frequency)

{1: 1, 2: 2, 3: 3, 4: 4}

In [143]:
# Merge two dictionaries into one
dict1={"a":1, "b":2}
dict2={"b":3, "c":4}
merged_dict={**dict1, **dict2}
print(merged_dict)

{'a': 1, 'b': 3, 'c': 4}